<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
    integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous" />
  <title>Modern Village</title>
</head>

<body>
  <div class="card text-center" style="color: orangered; margin-top: 20%;">
    <div class="card-body">
      <h1 class="card-header">Modern Village</h1>
      <h2 class="card-title">404</h2>
      <h4 class="card-subtitle mb-2 text-muted">Page not found 🧐</h4>
      <h6 class="card-text">Date: {% now "jS F Y H:i" %}</h6>
      <p class="lead">Mind to <a href="https://twitter.com/@nikalmorgan" target="_blank" rel="noopener">send me a
          tweet</a> about this issue?</p>
      <p class="lead"><a href="/" class="btn btn-primary btn-lg">Go to the home page →</a></p>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
    integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
    crossorigin="anonymous"></script>
</body>

</html>