{% extends "base.html" %}
{% block content %}
<h1>Modern Village</h1>
<p>We know it always takes a village!</p>
<br/>
<h2>Village Notices</h2>
<div>
    {% for notice in data %}
        <p>
            {% if notice.is_urgent %}
                <h4 style="color: red;">Urgent-{{notice.type_of}}</h4>
            {% else %}
               <h4>{{notice.type_of}}</h4>
            {% endif %}
        </p>
        <p>
            {{notice.creator}}
        </p>
        <p>
            {{notice.title}}
        </p>
        <p>
            {{notice.body}}
        </p>
        <p>
         {{notice.post_date}}
        </p>
        <hr style='border: 1px dashed black;'/>
    {% endfor %}
</div>
<div>
    {% for notice in newdata %}
        <p>
            {% if notice.is_urgent %}
                <h4 style="color: red;">Urgent-{{notice.type_of}}</h4>
            {% else %}
               <h4>{{notice.type_of}}</h4>
            {% endif %}
        </p>
        <p>
            {{notice.creator}}
        </p>
        <p>
            {{notice.title}}
        </p>
        <p>
            {{notice.body}}
        </p>
        <p>
         {{notice.post_date}}
        </p>
        <hr style='border: 1px dashed black;'/>
    {% endfor %}
</div>
<div>
    {% for notice in olddata %}
        <p>
            {% if notice.is_urgent %}
                <h4 style="color: red;">Urgent-{{notice.type_of}}</h4>
            {% else %}
               <h4>{{notice.type_of}}</h4>
            {% endif %}
        </p>
        <p>
            {{notice.creator}}
        </p>
        <p>
            {{notice.title}}
        </p>
        <p>
            {{notice.body}}
        </p>
        <p>
         {{notice.post_date}}
        </p>
        <hr style='border: 1px dashed black;'/>
    {% endfor %}
</div>
{% endblock %}

