{% extends "base.html" %}
{% load static %}
{% block content %}
<br/>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        {% if notice.is_urgent %}
        <h5 class="card-title" style="color: red;"><a href="/notice/{{notice.id}}/" style="color: red;">Urgent-{{notice.type_of}}</a></h5>
        {% else %}
        <h5 class="card-title"><a href="/notice/{{notice.id}}/">{{notice.type_of}}</a></h5>
        {% endif %}
        <h5 class="card-subtitle mb-2 text-muted">{{notice.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{notice.creator}}</h6>
        <p class="card-text">{{notice.body}}</p>
        {% if notice.price != Null and notice.price != 0.00 %}
        <p class="card-text"> ${{notice.price|floatformat:2}}</p>
        {% endif %}
        <p class="card-text">{{notice.post_date}}</p>
        {% if request.user.is_authenticated and request.user == notice.creator %}
        <a href="/notice/{{notice.id}}/edit/" class="card-link">Edit</a>
        <a href="/notice/{{notice.id}}/delete/" class="card-link">Delete</a>
        {% endif %}
    </div>
</div>
{% endblock %}