{% extends "base.html" %} {%load static %} {% block content %}
<body>
  <br />
  <br />
  <button
    type="button"
    class="btn btn-sm btn-primary"
    data-toggle="modal"
    data-target="#noticeModal"
  >
    Add Notice
  </button>
  <div
    class="modal fade"
    id="noticeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="noticeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="noticeModalLabel">Add Notice</h5>
          <button
            type="button"
            class="close btn"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" method="POST">
          <div class="modal-body">
            {% csrf_token %} {{ form.as_p }}
            <!-- <button type="submit" style="color: orangered;">Submit</button> -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-close" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-save">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<br/>
<h2 class='title2'>All {{types}} Village Notices</h2>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Important Community Numbers</h5>
          <p  class="card-text">Newtown County Sherrif<br>541-541-1000</p>
          <p class="card-text">Fire and Rescue non emergency<br>541-541-1010</p>
          <p class="card-text">School District 109J<br>541-541-3009</p>
          <p class="card-text">Library Main Branch<br>541-541-0975</p>
          <p class="card-text">Bookmobile Schedule<br>541-541-3221</p>
          <p class="card-text">Neighborhood Event Center<br>541-542-2001</p>
          <p class="card-text">Neighborhood Director<br>541-542-6930</p>
        </div>
      </div>
    </div>
  

    <div class="col-md-6">
      {% for notice in data %}
    <div class="card">
      <div class="card-body">
          {% if notice.is_urgent %}
          <h5 class="card-title" style="color: red;"><a href="/notice/{{notice.id}}/" style="color: red;">Urgent-{{notice.type_of}}</a></h5>
          {% else %}
          <div class="notice-title">
            <h5 class="card-title"><a href="/notice/{{notice.id}}/">{{notice.type_of}}</a></h5>
          </div>
          {% endif %}
          <h5 class="card-subtitle mb-2 text-muted">{{notice.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{notice.creator}}</h6>
          <p class="card-text">{{notice.body}}</p>
          {% if notice.price != Null and notice.price != 0.00 %}
          <p class="card-text"> ${{notice.price|floatformat:2}}</p>
          {% endif %}
          <p class="card-text">{{notice.post_date}}</p>
          {% if request.user.is_authenticated and request.user == notice.creator %}
          <a href="/notice/{{notice.id}}/edit/" class="card-link">Edit</a>
          <a href="/notice/{{notice.id}}/delete/" class="card-link">Delete</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

   <div class="col-md-3">
      <div class="card" style="width: 13rem;">
        <img src="/static/images/grocery.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sam's Grocery & Deli</h5>
          <p class="card-text">Local groceries, best prices! Come on in!</p>
          <p class="card-text">M-Sa 7am - 7pm, Closed Sundays</p>
          <p class="card-text">1540 Main St.</p>
      </div>
    </div>
    
  
    
    
    
      <div class="card"style="width: 13rem;">
        <img src="/static/images/fabric-store-logo.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">The Sewcial Lounge</h5>
          <p class="card-text">Weekly specials, and mystery bags!</p>
            <p class="card-text">New Fabrics weekly</p>
            <p class="card-text">M-Sa 9am - 5pm</p>
            <p class="card-text">777 1st Street</p>
        </div>
      </div>
    
  
    
  
     
    <div class="card" style="width: 13rem;">
        <img src="/static/images/pet-shop.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fido<s></s></h5>
          <p class="card-text">Daily hours: 8am to 9pm</p>
          <p class="card-text">649 2nd Ave.</p>
        </div>
      </div>
    
  


  
  <div class="card" style="width: 13rem">
        <img src="/static/images/car-dealership.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Slick's Cars</h5>
          <p class="card-text">Monday through Saturday 8am</p>
        </div>
      </div>
    </div>

</div>
</div> 

{% endblock %}

