{% extends "base.html" %} {% load mptt_tags %} {% block content %}
<ul>
  {% recursetree data %}
  <li>
    <h3>{{ node.title }}</h3>
    <p>{{ node.body }}</p>
    <p>- {{ node.creator}}</p>
    <p>Posted {{ node.post_date}}</p>
    {% if node.creator == request.user%} <a href="{{node.id}}/edit/">Edit</a> |
    <a href="{{node.id}}/del/">Delete</a>
    {% endif %}
    <a href="/posts/{{node.id}}">Reply</a>
    {% if not node.is_leaf_node %}
    <ul class="children">
      <button onclick="myFunction({{node.id}})">Show Replies</button>
      <div id="{{node.id}}DIV" style="display: none">{{ children }}</div>
    </ul>
    {% endif %}
  </li>
  {% endrecursetree %}
</ul>
<form action="" method="POST" style="color: orangered">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" style="color: orangered">Submit</button>
</form>
<script>
  function myFunction(id) {
    var x = document.getElementById(id + "DIV");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>
{% endblock %}
