{% extends "base.html" %}
{% load static %}
{% block content %}
<br/>
<div class="card col-md-12">
    <div class="card-body">
        {% if current_user.user_pic %}
        <img class="rounded" src="{{current_user.user_pic.url }}" alt="{{ current_user.username }}" />
        {% else %}
        <img class="rounded" src="/static/images/daisy_default.jpeg" alt="daisy" />
        {% endif %}
        <h5 class="card-title text-center" style="color: orangered;"><a href="/profile/{{current_user.username}}/" style="color: orangered;">@{{current_user.username}}</a></h5>
        <h5 class="card-subtitle mb-2 text-muted text-center">{{current_user.first_name}} {{current_user.last_name}}</h5>
        <p class="card-text text-center">Birthday:{{current_user.birthday}}</p>
        <p class="card-text text-center">Zipcode:{{current_user.zipcode}}</p>
        {%if current_user.facebook != Null %}
        <p class="card-text"> {{current_user.facebook}}</p>
        {% endif %}
        {%if current_user.instagram != Null %}
        <p class="card-text"> {{current_user.instagram}}</p>
        {% endif %}
        {%if current_user.twitter != Null %}
        <p class="card-text"> {{current_user.twitter}}</p>
        {% endif %}
        {% if request.user.is_authenticated and request.user == current_user %}
        <a href="/profile/{{current_user.username}}/edit/"><button class="btn btn-sm">Edit</button></a>
        <a href="/profile/{{current_user.username}}/delete/" style="color: red;"><button class="btn btn-sm">Delete</button></a>
        {% endif %}
        {% if profile in user_following%}
        <a href="/unfollow/{{ profile.id }}/"><button class="btn btn-sm">Unfollow</button></a>
        {% elif profile != request.user %}
        <a href="/follow/{{ current_user.id }}/"><button>Follow +</button></a>
        {% endif %}
    </div>
</div>



<div class="row">
<div class='col-md-6'>
{% if request.user.is_authenticated and request.user == current_user %}
<h4 class="text-center"> Your Notices</h4>
{% else %}
<h4>{{current_user.username}} Notices</h4>
{% endif %}
<div class="card">
{% for notice in notices %}
        <div class="card-body">
            {% if notice.is_urgent %}
            <h5 class="card-title" style="color: red;"><a href="/notice/{{notice.id}}/" style="color: red;">Urgent-{{notice.type_of}}</a></h5>
            {% else %}
            <h5 class="card-title"><a href="/notice/{{notice.id}}/">{{notice.type_of}}</a></h5>
            {% endif %}
            <h5 class="card-subtitle mb-2 text-muted" style="color: #264653;">{{notice.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><a href="/profile/{{notice.creator}}/">{{notice.creator}}</a></h6>
            <!-- {% if notice.image != Null %}
            <img src="{{notice.image.url }}" alt="{{ notice.title }}"/>
            {% endif %} -->
            <p class="card-text">{{notice.body}}</p>
            {% if notice.price != Null and notice.price != 0.00 %}
            <p class="card-text"> ${{notice.price|floatformat:2}}</p>
            {% endif %}
            <p class="card-text">{{notice.post_date}}</p>
            {% if request.user.is_authenticated and request.user == notice.creator %}
            <a href="/notice/{{notice.id}}/edit/" class="card-link"><button class="btn btn-sm">Edit</button></a>
            <a href="/notice/{{notice.id}}/delete/" class="card-link" style="color: red;"><button class="btn btn-sm">Delete</button></a>
            {% endif %}
        </div>  
        {% endfor %}
    </div>
</div>



<div class='col-md-6'>
    {% if request.user.is_authenticated and request.user == current_user %}
    <h4 style="color: #264563;" class='text-center'> Your Post</h4>
    {% else %}
    <h4 class="text-center" style="color: #264563;">{{current_user.username}} Post</h4>
    {% endif %}
    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><a href="/profile/{{post.creator}}/">{{post.creator}}</a></h6>
            <p class="card-text">{{post.body}}</p>
            <p class="card-text">{{post.post_date}}</p>
            {% if request.user.is_authenticated and request.user == post.creator %}
            <a href="/post/{{post.id}}/edit/" class="card-link"><button class="btn btn-sm">Edit</button></a>
            <a href="/post/{{post.id}}/delete/" class="card-link"><button class="btn btn-sm">Delete</button></a>
            {% endif %}
        </div>
                    <div class="card-footer">
                        <button type="button" class="btn ">
                        <a href="/posts/{{post.id}}/" style="color: white;">Reply</a>
                        </button>
                    </div>  
                </div>
    {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}